@import "@theme/variables", "@theme/colors";

.client-form {
  margin-top: $spacing;
  .main-form-container {
    margin: 0 auto;
    text-align: center;
  }
  .formik-input-text {
    position: relative;
    min-height: 65px;
    .MuiFormControl-root {
      width: 90%;
    }
  }
  .MuiOutlinedInput-input {
    height: 50px;
  }

  .input-ul {
    list-style-type: none;
    margin-top: $spacing/2;
    padding: 0;
    justify-content: center;
    display: flex;
    li {
      float: left;
      margin: 0 5px 0 0;
      width: 100px;
      height: 40px;
      position: relative;
    }
    input,
    label {
      font-size: $font-size-p;
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
    }
    [type="radio"] {
      opacity: 0.01;
      z-index: 100;
      width: 99px;
      height: 25px;
      cursor: pointer;
    }

    [type="radio"]:checked + label,
    .Checked + label {
      background-color: $color-complementary;
      // opacity: 0.;
    }

    label {
      padding: 5px;
      border: 1px solid #ccc;
      cursor: pointer;
      z-index: 90;
    }
  }

  .button__section {
    margin-top: $spacing;
  }
}
