@import "@theme/variables", "@theme/colors";

.area-promotion {
  margin: 0 auto;
  text-align: center;
  padding: $spacing;
  margin-top: $spacing;
  img {
    width: 80%;
  }
  b {
    color: $color-secondary;
  }
}
