@import "@theme/variables", "@theme/colors";

.product__card {
  .MuiCard-root {
    margin-top: $spacing/2 !important;
    height: 300px;
  }
  button {
    background-color: $color-primary !important;
    padding: 12px 30px !important;
  }
  img {
    width: 100%;
  }
  .current_price {
    color: red;
  }
  .old_price {
    text-decoration: line-through;
    color: $color-gray;
    font-size: $font-size-p - 2px;
  }
  .name {
    color: $color-gray;
    height: 37px;
    width: 180px;
    overflow: hidden;
  }
  .content {
    flex-direction: row !important;
    flex-wrap: wrap;
  }
}
