body,
input,
select,
textarea,
button {
  font-family: $font-family-primary, Helvetica, sans-serif;
}

h1 {
  font-family: $font-family-primary;
  font-size: 35px;
  font-weight: $font-weight-bold;
}
h2 {
  font-size: $font-size-h2;
  font-weight: $font-weight-bold;

  @media only screen and (max-width: 600px) {
    font-size: $font-size-h4;
  }
}
h3 {
  font-size: $font-size-h3;
  font-weight: $font-weight-regular;

  @media only screen and (max-width: 600px) {
    font-size: $font-size-h4;
  }
}
h4 {
  font-size: $font-size-h4;
  font-weight: $font-weight-bold;
}
h5 {
  font-size: $font-size-h5;
  font-weight: $font-weight-regular;
}
h6 {
  font-size: $font-size-h6;
  font-weight: $font-weight-regular;
}

p {
  font-size: $font-size-p;
  font-weight: $font-weight-regular;
}

label {
  font-size: $font-size-label;
}
