@import "@theme/variables", "@theme/colors";

footer {
  text-align: center;
  padding: $spacing;
  background-color: $color-gray;
  color: $color-primary;
  p {
    margin-bottom: $spacing/2;
    font-size: $font-size-xs;
  }
  div {
    margin-bottom: $spacing;
    margin-top: $spacing;
  }
}
